/__tests__/
/.circleci/
/coverage/
/dist/
/envs/
/img/
/src/
/types/
/lib/__tests__/
.editorconfig
.gitignore
.npmignore
jest.config.js
last-commit.sh
last-commit.txt
tsconfig.json
tslint.json
yarn.lock
package-lock.json
